ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

.navbar--link-item {
    float: left;
}
.header {
    padding: 10px;
    text-align: center;
    background: dimgray;
    color: white;
}
.navbar--link-item  {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.navbar--link-item :hover {
    background-color: #111;
}